$primaryColor: #006064;
$secondaryColor: #42A5F5;
$accentColor: #FFF176;
$bgColor: #F5F5F5;
$darkFontColor: #212121;
$darkFontHover: #546E7A;
$lightFontColor: #F5F5F5;
$lighFontHover : #E0E0E0;
$fontBlur: #757575;
$white: #FFF;
$listHover: #E0E0E0;
$bubbleContentMe: #EFEBE9;

$fullHeight: 82vh;
